<!DOCTYPE html>
<html lang="en">



<body>
	

        <section class="main-content">
	<!-- Login Form -->
<div class="container-login">
  <div class="forms">
    <div class="form login">
      <span class="title" style="color:033F63;">Log in</span>

    
        <div class="input-field">
          <input type="text" placeholder="Enter your email address" required>
        
        </div>

        <div class="input-field">
          <input type="password" placeholder="Enter your password" required>
          
        
        </div>

        <a href="#" class="text" id="forgot-password-link">Forgot Password?</a>
        <div class="input-field button">
          <input type="button" value="Login" id="login-button">
        </div>
      </form>

      <div class="login-signup">
        <span class="text">Don't have an account? <a href="registration.html" class="signup-text" id="signup-link">Sign Up</a></span>
      </div>
    </div>
  </div>
</div>
        </section>


	</div>
	<script src="themes/js/common.js"></script>
	<script src="themes/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
		$(function () {
			$(document).ready(function () {
				$('.flexslider').flexslider({
					animation: "fade",
					slideshowSpeed: 4000,
					animationSpeed: 600,
					controlNav: false,
					directionNav: true,
					controlsContainer: ".flex-container" // the container that holds the flexslider
				});
			});
		});
	</script>
</body>

</html>