

<section class="main-content">
    <h1 class="heading"> <span class="text" style="font-size: 20pt; color: #494949"> New Arrivals </span> </h1>

    <div class="row">
        <div class="span">
            <ul class="thumbnails listing-products" style="width: 100%; margin: auto;">
                <!-- Ovdje -->
            </ul>
            <hr>
            <div align="center" class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>
    </div>
</section>


<script type="text/javascript">
    $(document).ready(function() {
        $.ajax({
            url: 'assets/books.json',
            type: 'GET',
            dataType: 'json',
            success: function(data) {
                var sortedBooks = data.books.sort(function(a, b) {
                    return new Date(b.publishDate) - new Date(a.publishDate);
                });

                var booksHtml = '';

                $.each(sortedBooks, function(index, book) {
                    var imageUrl = "themes/images/books2/book4.jpg";

                    booksHtml += '<li class="span3">' +
                                    '<div class="product-box">' +
                                        '<a href="#bookdetails"><img alt="" src="' + imageUrl + '" height="300px" width="175px"></a><br />' +
                                        '<a href="#bookdetails" class="title">' + book.title + '</a><br />' +
                                        '<a href="#" class="category">' + book.author + '</a></br>' +
                                        '<p class="price">$' + book.price + '</p>' +
                                        '<a href=""><i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>' +
                                    '</div>' +
                                  '</li>';
                });
                $('.thumbnails.listing-products').html(booksHtml);
            },
            error: function(xhr, status, errorThrown) {
                console.log('Error: ', errorThrown);
            }
        });
    });
</script>
