<section class="main-content">
    <section class="featured" id="featured">
        <h1 class="heading"> <span class="text">Payment</span> </h1>
    </section>
    <div class="container">
        <div class="row">
            <div class="span4">
                <div class="card">
                    <h3>Delivery Details</h3>
                    <p>Name and surname</p>
                    <input type="text" placeholder="Name Surname">
                    <p>Phone number</p>
                    <input type="text" placeholder="Phone number">
                    <p>Delivery address</p>
                    <input type="text" placeholder="Address">
                    <p>Town</p>
                    <input type="text" placeholder="Town">
                    <p>Post code</p>
                    <input type="text" placeholder="Post code">
                </div>
            </div>
            <div class="span4">
                <div class="card">
                    <h3>Card details</h3>
                    <p>Card type</p>
                    <table>
                    <tr>
                        <td>
                            <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://icons-for-free.com/iconfiles/png/512/Mastercard-1320568043376143718.png" /></span> </label>
                        </td>
                        <td>
                            <label class="radio"> <input type="radio" name="card" value="payment"> <span><img width="30" src="https://cdn4.iconfinder.com/data/icons/payment-method/160/payment_method_card_visa-512.png" /></span> </label>
                        </td>
                    </tr>
                    </table>
                    <br/>
                    <p>Name on card</p>
                    <input type="text" placeholder="Name">
                    <p>Card number</p>
                    <input type="text" placeholder="1111 2222 3333 4444">

                    <p>Expiration date</p>
                    <input type="text" placeholder="mm/yy">

                    <label data-toggle="tooltip" title="Three digit CV code on the back of your card">
                        <p>CVV <i class="fa fa-question-circle d-inline"></i></p>
                    </label>
                    <input type="text" placeholder="123">

                    <hr />
                    <p>Subtotal</p>
                    <p>Shipping</p>
                    <p>Total (Tax incl.)</p>
                </div>
            </div>
            <div class="span4">
                <div class="card">
                    <h3>Note</h3>
                    <p>Write a note (optional)</p>
                    <textarea></textarea>
                    <div class="checkbox">
                        <label><input type="checkbox" >I agree with Terms of use and conditions</label>
                    </div>
                    <p class="button-buy center">
                        <button class="" type="submit" id="checkout">BUY</button>
                    </p>
                </div>
            </div>
        </div>
    </div>

</section>
