<!DOCTYPE html>
<html lang="en">
 <link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">

<head>
	<meta charset="utf-8">
	<title>Booksy</title>
	<meta name="viewport" content="width=device-width, initial-scale=1.0">
	<meta name="description" content="">
	<!--[if ie]><meta content='IE=8' http-equiv='X-UA-Compatible'/><![endif]-->
	<!-- bootstrap -->
	<link href="../bootstrap/css/bootstrap.min.css" rel="stylesheet">
	<link href="../bootstrap/css/bootstrap-responsive.min.css" rel="stylesheet">

	<link href="../themes/css/bootstrappage.css" rel="stylesheet" />
	<link href="../assets/css/custom.css" rel="stylesheet" />
	<link href="../assets/css/jQuerySPApp.css" rel="stylesheet" />
	<link href="../assets/css/spapp.css" rel="stylesheet" />




	<!-- global styles -->
	<link href="../themes/css/flexslider.css" rel="stylesheet" />   
		<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	<link rel="stylesheet" href="https://unpkg.com/swiper@7/swiper-bundle.min.css" />
	<link href="../themes/css/main.css" rel="stylesheet" />
	<link rel="shortcut icon" type="image/png " href="Booksy\themes\images\android-chrome-192x192.png"/>



	<!-- scripts -->
	<script src="../themes/js/jquery-1.7.2.min.js"></script>
	<script src="../bootstrap/js/bootstrap.min.js"></script>
	<script src="../themes/js/superfish.js"></script>
	<script src="https://unpkg.com/swiper@7/swiper-bundle.min.js"></script>


</head>

<body>
	
		<section class="main-content">

			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">Top Selling</span> </h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>		
								<div id="bookname"	></div>
								


								<h>Rachele Cargle</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book2.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Lessons in chemistry</h></br>
								<h>Bonnie Garber</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book3.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Happy place</h></br>
								<h>Emily Henry</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book4.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>These are moms way worst then you </h></br>
								<h>Glen Boozan</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book5.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Unraveled</h></br>
								<h>Deanna Lorea</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book6.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>The 23 midnight</h></br>
								<h>James Patterson</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book7.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Nothing is missing</h></br>
								<h>Nicole Walters</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book8.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Too late</h></br>
								<h>Colleen Hoover</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book9.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>The Black Queen</h></br>
								<h>Jumata Emill</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->
			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">New Arrivals</span>
				</h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box product">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->

			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">Coming soon</span> </h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box product">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->

			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">Sale</span> </h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box product">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->
		</section>
		
	<script src="../themes/js/common.js"></script>
	<script src="../themes/js/jquery.flexslider-min.js"></script>
	<script type="text/javascript">
		$(function () {
			$(document).ready(function () {
				$('.flexslider').flexslider({
					animation: "fade",
					slideshowSpeed: 4000,
					animationSpeed: 600,
					controlNav: false,
					directionNav: true,
					controlsContainer: ".flex-container" // the container that holds the flexslider
				});
			});
		});
	</script>

<script>  //ajax call 
	$.get('./rest/books/1', function(data) {
	   for (var i = 0; i < data.length; i++) {
		 var name = data[i].book_name;}});		
		 
		 var nameElement = $('<div></div>').text(name);

		 $('#bookname').append(nameElement);


			 </script>




</body>

</html>