
	
		<section class="main-content">

			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">Top Selling</span> </h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>		
								<div id="bookname"	></div>
								


								<h>Rachele Cargle</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book2.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Lessons in chemistry</h></br>
								<h>Bonnie Garber</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book3.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Happy place</h></br>
								<h>Emily Henry</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book4.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>These are moms way worst then you </h></br>
								<h>Glen Boozan</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book5.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Unraveled</h></br>
								<h>Deanna Lorea</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book6.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>The 23 midnight</h></br>
								<h>James Patterson</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book7.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Nothing is missing</h></br>
								<h>Nicole Walters</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book8.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>Too late</h></br>
								<h>Colleen Hoover</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book9.jpg" height="300px"
											width="175px" alt="" /></a></p>
								<h>The Black Queen</h></br>
								<h>Jumata Emill</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->
			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">New Arrivals</span>
				</h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box product">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href="#bookdetails"><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->

			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">Coming soon</span> </h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box product">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->

			<section class="featured" id="featured">
				<h1 class="heading"> <span class="text">Sale</span> </h1>
				<div class="swiper featured-slider">
					<div class="swiper-wrapper">

						<div class="swiper-slide box product">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>

						<div class="swiper-slide box">
							<div class="product-box">
								<p><a href=""><img src="themes/images/bookHomepage/book1.png" height="300px"
											width="175px" alt="" /></a></p>
								<h>Fairy Tale Dreamer</h></br>
								<h>Sophia Darling</h></br>
								<div class="product-info">
									<p class="price">$14.25</p>
								<a href="" <i class="fa fa-heart-o fa-2x" aria-hidden="true"			
									style="padding-right: 10px;"></i></a>
								<a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
								</div>
							</div>
						</div>
					</div>

					<div class="swiper-button-next"></div>
					<div class="swiper-button-prev"></div>
				</div>
			</section>
			<!-- featured section ends -->
		</section>
		
	