<section class="main-content">
    <h1 class="heading"> <span class="text" style="font-size: 20pt; color: #494949"> CATEGORY NAME </span> </h1>

    <div class="row">
        <div class="span">
            <ul class="thumbnails listing-products" style="width: 100%; margin: auto;">
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book1.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Yellowface</a><br />
                        <a href="#" class="category">Rebbeca P. Kuang</a></br>
                        <p class="price">$11.80</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>

                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book2.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Lessond In Chemestry</a><br />
                        <a href="#" class="category">Bonnie Garmus</a></br>
                        <p style="color: red" class="price">Sale! $7.50</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book3.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Queen Charlotte</a><br />
                        <a href="#" class="category">Julia Quinn</a></br>
                        <p style="color: red" class="price">Sale! $7.50</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <span class="sale_tag"></span>
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book4.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Icebreaker</a><br />
                        <a href="#" class="category">Hannah Grace</a></br>
                        <p class="price">$13.99</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book5.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">The ballad of never after</a><br />
                        <a href="#" class="category">Stephanie Garber</a></br>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                        <p class="price">$12.69</p>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book6.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Johnson at 10</a><br />
                        <a href="#" class="category">Anthony Seldon</a></br>
                        <p class="price">$61</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book7.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Fourth wing</a><br />
                        <a href="#" class="category">Rebecca Yarros</a></br>
                        <p class="price">$16.03</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </li>
                <li class="span3">
                    <div class="product-box">
                        <a href="#bookdetails"><img alt="" src="themes/images/books2/book8.jpg" height=300px
                                width="175px"></a><br />
                        <a href="#bookdetails" class="title">Draginball super</a><br />
                        <a href="#" class="category">Akira Toriyama</a></br>
                        <p class="price">$13.04</p>
                        <a href="" <i class="fa fa-cart-plus fa-2x" aria-hidden="true"></i></a>
                    </div>
                </li>

            </ul>
            <hr>
            <div align="center" class="pagination pagination-small pagination-centered">
                <ul>
                    <li><a href="#">Prev</a></li>
                    <li class="active"><a href="#">1</a></li>
                    <li><a href="#">2</a></li>
                    <li><a href="#">3</a></li>
                    <li><a href="#">4</a></li>
                    <li><a href="#">Next</a></li>
                </ul>
            </div>
        </div>

    </div>
</section>
